{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type='text/css' href="{% static 'css/style-nav.css' %}">
		<link rel="stylesheet" type='text/css' href="{% static 'css/style-slide.css'%}">
		<link rel="stylesheet" type='text/css' href="{% static 'css/style.css'%}">

		<title>Create Page</title>

		<style>
		    .drop-zone {
		      height: calc(100vh - 50px);
		      border: 2px dashed #ccc;
		      text-align: center;
		      padding: 10px;
		      font-family: Arial, sans-serif;
		      cursor: pointer;
		    }
		  </style>
			<script>
				function handleFileSelect(files, source) {
				    for (var i = 0; i < files.length; i++) {
				        var file = files[i];
				        console.log('File Name: ' + file.name);
				        console.log('File Size: ' + file.size + ' bytes');
				        console.log('File Type: ' + file.type);
				        console.log('Source: ' + source);
				        console.log('---------------------------------');
				    }
				    handleUpload(files); // Submit the files using the handleUpload function
				}

				function handleDragOver(event) {
				    event.stopPropagation();
				    event.preventDefault();
				    event.dataTransfer.dropEffect = 'copy'; // Set the drop effect to copy
				}

				document.addEventListener('DOMContentLoaded', function() {
				    var dropZone = document.getElementById('dropZone');
				    var fileInput = document.getElementById('file-input');

				    dropZone.addEventListener('click', function() {
				        fileInput.click(); // Trigger file input click
				    });

				    dropZone.addEventListener('dragover', handleDragOver);

				    dropZone.addEventListener('drop', function(event) {
				        event.stopPropagation();
				        event.preventDefault();

				        var files = event.dataTransfer.files; // Retrieve the dropped files
				        if (files.length > 0) {
				            handleFileSelect(files, 'Drag and Drop');
				        } else {
				            fileInput.click(); // Trigger file input click if no files are dropped
				        }
				    });

				    fileInput.addEventListener('change', function(event) {
				        var files = event.target.files; // Retrieve the file list from the input element
				        handleFileSelect(files, 'File Dialog');
				    });
				});

				function handleUpload(files) {
				    var formData = new FormData();

				    for (var i = 0; i < files.length; i++) {
				        formData.append('myfile', files[i]);
				    }

				    fetch('/upload', {
				        method: 'POST',
				        headers: {
				            'X-CSRFToken': getCookie('csrftoken')
				        },
				        body: formData
				    })
				        .then(response => {
				            // Handle the response as needed
				            console.log('Files uploaded successfully.');
				        })
				        .catch(error => {
				            // Handle any errors that occurred during the request
				            console.error('An error occurred during file upload:', error);
				        });
				}

				function getCookie(name) {
				    var cookieValue = null;
				    if (document.cookie && document.cookie !== '') {
				        var cookies = document.cookie.split(';');
				        for (var i = 0; i < cookies.length; i++) {
				            var cookie = cookies[i].trim();
				            if (cookie.substring(0, name.length + 1) === (name + '=')) {
				                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				                break;
				            }
				        }
				    }
				    return cookieValue;
				}


			</script>


	</head>
	<body>
	    <section class="top-nav">
		    <div class="logo">
		      <img src="{% static 'images/logo.png' %}">
		    </div>
		    <input id="menu-toggle" type="checkbox" />
		    <label class='menu-button-container' for="menu-toggle">
		    <div class='menu-button'></div>
		  </label>
		    <ul class="menu">
		      <a class="item" href="/">Home</a>
		      <a class="item" href="/upload">Upload</a>
		      <a class="item" href="/login">Account</a>
		    </ul>
		</section>
		<center>
			<form method="POST" enctype="multipart/form-data">
			    {% csrf_token %}
			    <div class="drop-zone" id="dropZone" onclick="openFileDialog()">
			        <p>Click here to select a file</p>
			    </div>
			    <input type="file" id="file-input" name="myfile" style="display: none;">
			</form>
  		</center>
	</body>
</html>